build*/
.build*/
submodules/
subprojects/*/
subprojects/.wraplock
!subprojects/packagefiles
/appimage*
.vscode
.cache
.ccls-cache
.pragtical-debug.log
.run*
*.diff
*.exe
*.tar.gz
*.zip
*.DS_Store
*App*
compile_commands.json
error.txt
pragtical*
Pragtical*
tools/perf-results/
tools/baselines/whitespace_perf_*.png
tools/baselines/whitespace_perf_best.json
tools/baselines/perf_capture_*.png

!resources/windows/*.diff
!resources/windows/*.exe.manifest.in
