[Desktop Entry]
Type=Application
Name=Anvil
Comment=A fast, scriptable code editor.
Exec=anvil %F
Icon=anvil
Terminal=false
StartupWMClass=io.github.dcostap.Anvil
Categories=Development;IDE;TextEditor;
MimeType=text/plain;inode/directory;
